body{background-color:black;}
*{font-style:'Droid Serif',Verdana,Arial,sans-serif;color:#fff;text-decoration:none;line-height:1.42857143;}
.red{color:#A00C0E;}
.golden{color:#BF933C;}
header span#tagline{font-size:12pt;}
#viz {width:1004px;margin:auto;}
header {width:994px;margin:auto;padding:5px;}
footer {width:994px;margin:auto;padding:5px;}